openapi: 3.2.0
info:
  title: LISNR Portal API (observed) Applications API
  version: v2
  description: Unofficial OpenAPI description of the LISNR Portal API, DERIVED by the API Evangelist enrichment pipeline from the first-party LISNR Portal single-page application bundle (https://portal.lisnr.com/scripts/script.865ef81c.js, build 2025-12-16).
  contact:
    name: LISNR Technical Support
    email: techsupport@lisnr.com
  x-apievangelist-provenance:
    method: derived
    source: https://portal.lisnr.com/scripts/script.865ef81c.js
    config_source: https://portal.lisnr.com/config.js
    build: '2025-12-16T18:23:14Z'
    note: Observed client surface, not a LISNR-published specification.
servers:
- url: https://api.lisnr.com
  description: LISNR Portal API (apiBaseURL from portal config.js)
security:
- jwtToken: []
tags:
- name: Applications
paths:
  /v2/apps:
    get:
      operationId: listApps
      summary: List applications
      tags:
      - Applications
      responses:
        '200':
          description: Success. Payload is returned on the `result` property of the response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Authentication credentials were not provided, or are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - jwtToken: []
    post:
      operationId: createApp
      summary: Create an application
      tags:
      - Applications
      responses:
        '200':
          description: Success. Payload is returned on the `result` property of the response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Authentication credentials were not provided, or are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - jwtToken: []
  /v2/apps/{id}:
    get:
      operationId: getApp
      summary: Get an application
      tags:
      - Applications
      responses:
        '200':
          description: Success. Payload is returned on the `result` property of the response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Authentication credentials were not provided, or are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - jwtToken: []
    put:
      operationId: updateApp
      summary: Update an application
      tags:
      - Applications
      responses:
        '200':
          description: Success. Payload is returned on the `result` property of the response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Authentication credentials were not provided, or are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - jwtToken: []
    delete:
      operationId: deleteApp
      summary: Delete an application
      tags:
      - Applications
      responses:
        '200':
          description: Success. Payload is returned on the `result` property of the response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Authentication credentials were not provided, or are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - jwtToken: []
components:
  schemas:
    Envelope:
      type: object
      description: LISNR response envelope. Successful payloads and error messages are both carried on `result`.
      properties:
        result:
          description: Response payload; an object, an array, or an object carrying a `message` string on errors.
  securitySchemes:
    jwtToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'A LISNR JWT prefixed with the literal string `JWT `, e.g. `Authorization: JWT eyJ...`.'
