{
  "openapi": "3.0.3",
  "info": {
    "title": "LISNR Portal API (observed)",
    "version": "v2",
    "description": "Unofficial OpenAPI description of the LISNR Portal API, DERIVED by the API Evangelist enrichment pipeline from the first-party LISNR Portal single-page application bundle (https://portal.lisnr.com/scripts/script.865ef81c.js, build 2025-12-16). Paths, HTTP methods, path/query parameters, the `Authorization: JWT <token>` scheme and the `{ result: ... }` response envelope are all OBSERVED from that first-party client. Request and response body schemas are NOT described here because LISNR does not publish them; nothing has been invented. LISNR publishes an official OpenAPI only for the Tones Service API (see openapi/lisnr-tones-openapi-original.json).",
    "contact": {
      "name": "LISNR Technical Support",
      "email": "techsupport@lisnr.com"
    },
    "x-apievangelist-provenance": {
      "method": "derived",
      "source": "https://portal.lisnr.com/scripts/script.865ef81c.js",
      "config_source": "https://portal.lisnr.com/config.js",
      "build": "2025-12-16T18:23:14Z",
      "note": "Observed client surface, not a LISNR-published specification."
    }
  },
  "servers": [
    {
      "url": "https://api.lisnr.com",
      "description": "LISNR Portal API (apiBaseURL from portal config.js)"
    }
  ],
  "security": [
    {
      "jwtToken": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Users"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Accounts"
    },
    {
      "name": "Applications"
    },
    {
      "name": "API Tokens"
    },
    {
      "name": "SDK Tokens"
    },
    {
      "name": "SDK Releases"
    },
    {
      "name": "Billing"
    }
  ],
  "paths": {
    "/v2/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Authenticate a portal user",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "description": "Exchange username + password for a JWT bearer token.",
        "security": []
      }
    },
    "/v2/auth/password/reset": {
      "post": {
        "operationId": "forgotPassword",
        "summary": "Request a password reset",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "description": "Send a password reset email for the given username.",
        "security": []
      }
    },
    "/v2/auth/password/reset/{token}": {
      "post": {
        "operationId": "confirmPasswordReset",
        "summary": "Complete a password reset",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "description": "Complete a password reset using the emailed token.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": []
      }
    },
    "/v2/auth/password/change": {
      "post": {
        "operationId": "changePassword",
        "summary": "Change the current user's password",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/auth/customer-agreement/accept": {
      "post": {
        "operationId": "acceptCustomerAgreement",
        "summary": "Accept the customer agreement",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "description": "Accept the LISNR customer agreement by supplying initials.",
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/users/": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users on the account",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create a user on the account",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get the authenticated user",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user by id",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update a user",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "description": "Used by the portal to toggle a user's enabled state and to set a password.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/users/{userid}/notifications/": {
      "get": {
        "operationId": "listNotifications",
        "summary": "List a user's notifications",
        "tags": [
          "Notifications"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/users/{userid}/notifications/{id}": {
      "patch": {
        "operationId": "updateNotification",
        "summary": "Update a notification",
        "tags": [
          "Notifications"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "description": "Marks a notification read (is_read) or dismissed (is_dismissed).",
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "Get the authenticated user's account",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "description": "Returns the account, including the licensed products list (legacy, radius, radius3, point, sda).",
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/apps": {
      "get": {
        "operationId": "listApps",
        "summary": "List applications",
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "post": {
        "operationId": "createApp",
        "summary": "Create an application",
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/apps/{id}": {
      "get": {
        "operationId": "getApp",
        "summary": "Get an application",
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "put": {
        "operationId": "updateApp",
        "summary": "Update an application",
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteApp",
        "summary": "Delete an application",
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/apps/{id}/api-tokens": {
      "get": {
        "operationId": "listApiTokens",
        "summary": "List API tokens for an application",
        "tags": [
          "API Tokens"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "post": {
        "operationId": "createApiToken",
        "summary": "Create an API token for an application",
        "tags": [
          "API Tokens"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "description": "API tokens authorize calls to the Tones Service API on behalf of a LISNR application.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/apps/{id}/api-tokens/{token_id}": {
      "delete": {
        "operationId": "deleteApiToken",
        "summary": "Delete an API token",
        "tags": [
          "API Tokens"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/apps/{id}/sdk-tokens": {
      "get": {
        "operationId": "listSdkTokens",
        "summary": "List SDK tokens for an application",
        "tags": [
          "SDK Tokens"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "post": {
        "operationId": "createSdkToken",
        "summary": "Create an SDK token for an application",
        "tags": [
          "SDK Tokens"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "description": "SDK tokens initialize the Radius object in the mobile/desktop SDKs.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/apps/{id}/sdk-tokens/{token_id}": {
      "delete": {
        "operationId": "deleteSdkToken",
        "summary": "Delete an SDK token",
        "tags": [
          "SDK Tokens"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/sdk-releases": {
      "get": {
        "operationId": "listSdkReleases",
        "summary": "List available SDK releases",
        "tags": [
          "SDK Releases"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "description": "Returns downloadable SDK releases, sample projects and documentation URLs. Supports platform and limit query parameters.",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/v2/invoices": {
      "get": {
        "operationId": "listInvoices",
        "summary": "List account invoices",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Success. Payload is returned on the `result` property of the response envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided, or are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "description": "Cursor paginated with limit and starting_after.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor: id of the last item on the previous page."
          }
        ],
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "jwtToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "A LISNR JWT prefixed with the literal string `JWT `, e.g. `Authorization: JWT eyJ...`."
      }
    },
    "schemas": {
      "Envelope": {
        "type": "object",
        "description": "LISNR response envelope. Successful payloads and error messages are both carried on `result`.",
        "properties": {
          "result": {
            "description": "Response payload; an object, an array, or an object carrying a `message` string on errors."
          }
        }
      }
    }
  }
}